/*-------------------------------------------*\
    confirmation.css
    Only loaded in confirmation.html
\*-------------------------------------------*/
.text1
{
    font-size:18px;
    text-align: center;
}
.buttons
{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 15px !important;
}
.margin_bottom_40px
{
    margin-bottom: 40px;
}
.address span
{
    display: block;
}